.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;

  scroll-snap-align: center;
}
.heroBody {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.heroLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heroRight {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.heroImage {
  position: absolute;
  width: 350px;
  border-radius: 30% 10% 30% 10%;
  animation: animate 2s infinite ease alternate;
}
@keyframes animate {
  to {
    scale: 1.05;
    transform: translateY(-20px);
  }
}
.title {
  font-size: 50px;
  font-weight: 700;
  color: azure;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 243, 243);
  padding: 0 20px;
}
.text {
  color: rgb(0, 255, 255);
  font-weight: 500;
  font-size: 23px;
  padding: 0 20px;
}
@media only screen and (max-width: 450px) {
  .hero {
    width: 100vw;
    height: auto;
    scroll-snap-align: auto;
  }
  .heroBody {
    display: flex;
    flex-direction: column;
  }
  .heroLeft,
  .heroRight {
    width: 100%;
  }
  .heroImage {
    width: 250px;
  }
}
