.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 0;
  width: 1200px;
  scroll-snap-align: center;
}
.navright {
  display: flex;
  gap: 20px;
  align-items: center;
}
.lists {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-weight: 500;
  cursor: pointer;
}
.contactUs {
  background-color: #f733e7;
  height: 35px;
  width: 120px;
  color: rgb(255, 255, 255);
  font-style: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  cursor: pointer;
  margin: 0 20px;
}
.logo {
  width: 150px;
  border: 1px solid rgb(20, 105, 105);
  border-radius: 5px;
  margin-left: 20px;
}
@media only screen and (max-width: 450px) {
  .navbar {
    width: 100%;
  }
  .lists {
    display: none;
  }
}
