.projects {
  height: 100vh;
  scroll-snap-align: center;
  width: 1200px;
  display: flex;
  align-items: start;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
}
.projectBody {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.projectItem {
  width: 350px;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid rgb(75, 72, 72);
  box-shadow: -2px 2px 13px 0px rgba(78, 97, 92, 0.75);
  -webkit-box-shadow: -2px 2px 13px 0px rgba(76, 84, 82, 0.75);
  -moz-box-shadow: -2px 2px 13px 0px rgba(92, 107, 103, 0.75);
  animation: hoverProject 2s infinite ease alternate;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectItemImage {
  width: 100%;
}
.overlay {
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: 35px;
  font-weight: 500;
  transition-duration: 2s;
}
@keyframes hoverProject {
  to {
    scale: 0.97;
  }
}
.overlay:hover {
  opacity: 0.7;
  border: 3px solid white;
}
.subHeading {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(212, 209, 209);
}
@media only screen and (max-width: 450px) {
  .projects {
    width: 100vw;
    height: max-content;
    scroll-snap-align: none;
  }
  .projectItem {
    width: 80%;
  }
}
