.App {
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgb(12, 25, 100) 0%,
    #1e1e1e 25%,
    rgb(42, 27, 98) 51%,
    #1e1e1e 70%
  );
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@media only screen and (max-width: 450px) {
  .App {
    width: 100vw;
  }
  .container {
    scroll-snap-align: none;
    scroll-snap-align: auto;
  }
}
